:root {
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(45, 100%, 67%);
    --dark-pink: hsl(320, 36%, 40%);
    --violet: hsl(265, 42%, 54%);
    --light-violet: hsl(246, 58%, 61%);
    --grey: hsl(306, 0%, 62%);
    --black: hsl(0, 0%, 7%);
    --green: hsl(111, 69%, 53%);
    --blue: hsl(216, 68%, 61%);
    --turquoise: hsl(166, 84%, 50%);
    --red: hsl(0, 100%, 67%);
}