{% extends 'base.html.twig' %}

{% block title %}Najlepsze drinki - NieTylkoMohito
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<div class="home">
		<nav class="nav">
			<div class="nav__logo">
				NieTylkoMohito
			</div>
			<input type="checkbox" id="nav">
			<label for="nav">
				<i class="fa-solid fa-bars"></i>
			</label>
			<div class="nav__right">
				<a class="nav__link" href="/drinki">Drinki</a>
				<div class="nav__link-box">
					<a class="nav__link" href="/login">
						<span>Mój bar</span>
						<i class="fa-solid fa-martini-glass"></i>
					</a>
				</div>
                {% if app.user %}
                  <div class="nav__link-box">
                     <a class="nav__link" href="/logout">
                        <span>Zamknij bar</span>
                        <i class="fa-solid fa-door-open"></i>
                     </a>
                  </div>
                {% endif %}
			</div>
		</nav>
        <main class="home__main">
            <div class="home__main-text">
                Twórz smakowite drinki z produktów które masz w domu
            </div>
            <div class="home__bottom-text">
                Nie czekaj i pokaż swoje barmańskie umiejętności
            </div>
            <div class="home__search">
                <span class="home__search-header">
                    Wybieraj produkty
                </span>
                <div class="home__search-box">
                    <div class="home__search-product">
                        sok z limonki 
                    </div>
                </div>
                <div class="home__products">
                    {{ component('product', { product: 'biały rum' }) }}
                    {{ component('product', { product: 'cukier' }) }}
                    {{ component('product', { product: 'lód' }) }}
                    {{ component('product', { product: 'mięta' }) }}
                </div>
                <a href="/drinki" class="home__search-button">
                    Znajdź drinki
                </a>
            </div>
        </main>
	</div>
{% endblock %}
