{% extends 'base.html.twig' %}

{% block title %}Najlepsze drinki - NieTylkoMohito{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="home">
        <nav class="nav">
            <div class="nav__logo">
                NieTylkoMohito
            </div>
            <div class="nav__right">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </div>
{% endblock %}
