{% extends 'base.html.twig' %}

{% block title %}Najlepsze drinki - NieTylkoMohito
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<div class="home">
		<nav class="nav">
			<div class="nav__logo">
				NieTylkoMohito
			</div>
			<input type="checkbox" id="nav">
			<label for="nav">
				<i class="fa-solid fa-bars"></i>
			</label>
			<div class="nav__right">
				<a class="nav__link" href="/drinki">Drinki</a>
				<div class="nav__link-box">
					<a class="nav__link" href="/login">
						<i class="fa-solid fa-martini-glass"></i>
						<span class="nav__link">Mój bar</span>
					</a>
				</div>
			</div>
		</nav>
        <main class="home__main">
            <div class="home__main-text">
                Twórz smakowite drinki z produktów które masz w domu
            </div>
            <div class="home__bottom-text">
                Nie czekaj i pokaż swoje barmańskie umiejętności
            </div>
            <div class="home__search">
                <span class="home__search-header">
                    Wybieraj produkty
                </span>
                <div class="home__search-box">
                    Wpisz produkty 
                </div>
                <div class="home__products">
                    <span class="home__li">
                        <div class="home__disk"></div>
                        <span class="home__product-name">
                            whiskey
                        </span>
                    </span>
                    <span class="home__li">
                        <div class="home__disk"></div>
                        <span class="home__product-name">
                            sok z limonki 
                        </span>
                    </span>
                    <span class="home__li">
                        <div class="home__disk"></div>
                        <span class="home__product-name">
                            cukier 
                        </span>
                    </span>
                    <span class="home__li">
                        <div class="home__disk"></div>
                        <span class="home__product-name">
                            sok z cytryny 
                        </span>
                    </span>
                </div>
                <div class="home__search-button">
                    Znajdź drinki
                </div>
            </div>
        </main>
	</div>
{% endblock %}
