@use '../config/breakpoints';
@use '../local/fonts';

*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: fonts.$poppins;
    font-size: 9px;
}

@media (min-width: breakpoints.$desktop-small) {
    html {
        font-size: 10px;
    }
}

@media (min-width: breakpoints.$desktop) {
    html {
        font-size: 11px;
    }
}