@use '../config/colors';
@use './fonts';
@use './../config/layers';
@use '../config/breakpoints';

.sort-caret {
   font-size: 2.5rem;
}

.white {
   color: var(--grey2)
}

.d-block {
   display: block !important;
}