@use '../config/colors';
@use './fonts';
@use './../config/layers';
@use '../config/breakpoints';

.sort-caret {
   font-size: 2.5rem;
}

.transparent {
   color: var(--white);
   opacity: 0.2;
}

.d-block {
   display: block !important;
}