@use '../../../../config/breakpoints';

.home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../../../../../../../public/images/home-mobile.png);
}

@media (min-width: breakpoints.$tablet) {
    .home {
        background-image: url(../../../../../../../public/images/home-tablets.png);
    }
}

@media (min-width: breakpoints.$desktop-small) {
    .home {
        background-image: url(../../../../../../../public/images/home.png);
    }
}