@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.drink {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--grey);
}

.drink__top {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drink__name-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drink__name {
    position: relative;
    font-size: fonts.$regular;
    font-weight: 500;
    cursor: pointer;
}

.drink__categories-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.drink__category-disc {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.drink__social-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;

    .fa-whiskey-glass {
        color: var(--yellow);
    }

    .fa-comment {
        color: var(--grey);
    }
}

.drink__rate {
    font-weight: 500;
}

.drink__social-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.drink__bottom {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.drink__img {
    width: 100%;
    max-height: calc(0.5 * 100vw);
}

.drink__desc {
    font-size: fonts.$small;
    padding: 0 8px;
    line-height: 150%;
}

.drink__desc-text {
    font-size: fonts.$small2;
    text-align: justify;
    overflow: hidden;
}

.drink__products-wrapper{
    font-size: fonts.$small;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.drink__products-header {
    font-weight: 500;
}

.drink__products-box {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    line-height: 80%;
}

.drink__active-product {
    color: var(--violet);
    font-weight: 600;
}

@media (min-width: breakpoints.$drinks-break) {
    .drink__top {
        //100% - width of the image + padding
        width: calc(100% - 35vw);
    }

    .drink__bottom {
        position: relative;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .drink__img {
        //100% height of drink bottom + height of drink top and padding
        max-height: calc(100% + 52px);
        width: unset;
        position: absolute;
        right: 0;
        top: -42px;
        border-radius: 5px;
    }

    .drink__desc {
        width: calc(100% - 35vw);
        height: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}