@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.drinks {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.drinks__top {
  font-size: fonts.$medium;
  font-weight: 500;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.drinks__sort-box {
  padding: 0 10px;
  position: relative;;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.drinks__sort-options-box {
  font-size: fonts.$small;
  background: var(--white);
  width: 135px;
  position: absolute;
  top: 115%;
  right: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--violet);
  border-radius: 5px;
  z-index: 2;
}

.drinks__sort-option {
  font-weight: 400;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 2px solid var(--violet);
  border-radius: 5px;
}

.drinks__sort-active {
  background: var(--violet);
  color: var(--white);
}

.drinks__wrapper {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.drinks__wrapper::-webkit-scrollbar {
  width: 0;
}

@media (min-width: breakpoints.$tablet) {
  .drinks__wrapper::-webkit-scrollbar {
    width: 5px;
  }

  .drinks__wrapper::-webkit-scrollbar-track {
    background: var(--white);
  }

  .drinks__wrapper::-webkit-scrollbar-thumb {
    background: var(--grey);
  }
}

@media (min-width: breakpoints.$desktop-small) {
  .drinks__top {
    max-width: unset;
  }

  .drinks__sort-options-box {
    width: 180px;
  }

  .drinks__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
  }

  .drinks__wrapper::-webkit-scrollbar {
    width: 8px;
  }
}