@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.drinks {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.drinks__top {
  font-size: fonts.$regular;
  font-weight: 500;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.drinks__sort-box {
  padding: 0 10px;
  position: relative;;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.drinks__sort-options-box {
  font-size: fonts.$small2;
  background: var(--white);
  width: 135px;
  position: absolute;
  top: 30px;
  right: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--violet);
  border-radius: 5px;
  z-index: 2;
}

.drinks__sort-option {
  font-weight: 400;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 2px solid var(--violet);
  border-radius: 5px;
}

.drinks__sort-active {
  background: var(--violet);
  color: var(--white);
}

.drinks__wrapper {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.drinks__wrapper::-webkit-scrollbar {
  width: 0;
}

@media (min-width: breakpoints.$tablet) {
  .drinks {
    min-width: 100%;
  }

  .drinks__wrapper {
    max-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .drinks__top {
    justify-content: space-around;
  }

  .drinks__wrapper::-webkit-scrollbar {
    width: 5px;
  }

  .drinks__wrapper::-webkit-scrollbar-track {
    background: var(--white);
  }

  .drinks__wrapper::-webkit-scrollbar-thumb {
    background: var(--grey);
  }
}

@media (min-width: breakpoints.$desktop-small) {
  .drinks {
    max-width: 100%;
  }

  .drinks__top {
    font-size: fonts.$medium;
    justify-content: space-between;
  }

  .drinks__sort-options-box {
    width: 180px;
    top: 40px;
  }

  .drinks__wrapper {
    gap: 50px;
  }

  .drinks__wrapper::-webkit-scrollbar {
    width: 8px;
  }
}

@media (min-width: breakpoints.$desktop) {
  .drinks {
    min-width: unset;
    // 100% - search box width
    width: calc(100% - 300px);
    max-width: 1100px;
  }
}