@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.drink {
    //20px for scrollbar
    background: var(--white);
    width: calc(100% - 10px);
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px var(--grey);
}

.drink__top {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drink__name-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drink__name {
    font-size: fonts.$medium;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
}

.drink__categories-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.drink__category-disc {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.drink__social-wrapper{
    font-size: fonts.$regular;
    display: flex;
    align-items: center;
    gap: 10px;

    .fa-whiskey-glass {
        color: var(--yellow);
    }

    .fa-comment {
        color: var(--grey);
    }
}

.drink__rate {
    font-weight: 500;
}

.drink__rate-text {
    display: none;
}

.drink__social-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.drink__comment-text {
    display: none;
}

.drink__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.drink__img {
    width: 100%;
    max-height: calc(0.5 * 100vw);
}

.drink__desc {
    font-size: fonts.$small;
    height: 100%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.drink__desc-text {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 150%;
}

.drink__products-wrapper{
    font-size: fonts.$small;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.drink__products-header {
    font-weight: 500;
    padding-top: 5px;
}

.drink__products-box {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.drink__product, 
.drink__active-product {
    background: var(--white);
    padding: 5px;
    box-shadow: 0 0 3px var(--grey);
    border-radius: 5px;
}

.drink__active-product {
    color: var(--violet);
    font-weight: 500;
    border: 2px solid;
}

.drink__glass {
    position: relative;
    width: 40px;
    height: 80px;
    margin-top: 50px;
    border: 5px solid var(--yellow);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.drink__glass:before {
    content: '';
    position: absolute;
    left: 13px;
    bottom: -41px;
    width: 5px;
    height: 40px;
    background: var(--yellow);
}

.drink__glass:after {
    content: '';
    position: absolute;
    left: -4px;
    bottom: -41px;
    height: 5px;
    width: 40px;
    background: var(--yellow);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.drink__glass-fill {
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 35px;
    height: 75px;
    background: var(--yellow);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: fillGlass 1.5s infinite;
}

@media (min-width: breakpoints.$tablet) {
    .drink {
        max-width: 350px;
    }

    .drink__bottom {
        height: calc(100% - 40px);
    }
}

@media (min-width: breakpoints.$desktop-small) {
    .drink {
        //width of img / resolution of img
        height: calc(320px / 1.56);
        max-width: 100%;
        padding: 0 0 10px 10px;
    }

    .drink__top {
        //100% - width of the image + padding
        width: calc(100% - 330px);
    }

    .drink__bottom {
        position: relative;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .drink__img {
        //100% height of drink bottom + height of drink top and padding
        width: 325px;
        position: absolute;
        right: 0;
        top: -52px;
        border-radius: 10px;
    }

    .drink__desc {
        width: calc(100% - 330px);
        max-height: calc(320px / 1.56 - 55px);
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .drink__products-wrapper {
        align-items: center;
    }

    .drink__products-box {
        padding-top: 0;
    }

    .drink__comment-text,
    .drink__rate-text {
        display: inline-block;
    }

    .drink__category-disc {
        width: 20px;
        height: 20px;
    }
}