@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.search {
    font-size: fonts.$small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    form {
        text-align: center;
    }
}

.search__header {
    font-size: fonts.$medium2;
    font-weight: 500;
}

.search__box {
    position: relative;
    padding-top: 5px;
}

.search__input {
    border: 3px solid var(--violet);
    border-radius: 5px;
}

.search__input,
.search__result {
    font-size: fonts.$regular;
    padding: 5px 15px;
    text-align: center;
    --webkit-apperance: none;
    cursor: pointer;
}

.search__result:nth-child(odd) {
    background: var(--violet);
    color: var(--white);
}

.search__results-box {
    width: 102%;
    position: absolute;
    left: -2px;
    background: var(--white);
    border: 2px solid var(--violet);
    border-radius: 5px;
}

.search__products-wrapper {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.search__product-box {
    font-size: fonts.$small;
    background: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--grey);
    cursor: pointer;

    i {
        line-height: unset;
    }
}

.search__categories-box {
    font-size: fonts.$regular;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.search__category {
    font-weight: 500;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    cursor: pointer;
}

.search__category-disc {
    background: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media (min-width: breakpoints.$desktop-small) {
    .search__category-disc {
        width: 20px;
        height: 20px;
    }
}