@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.search {
    font-size: fonts.$small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    form {
        text-align: center;
    }
}

.search__header {
    font-size: fonts.$medium;
    font-weight: 500;
}

.search__box {
    position: relative;
    border-radius: 5px;
    border: 2px solid var(--yellow);
}

.search__input,
.search__result {
    padding: 5px 15px;
    text-align: center;
    --webkit-apperance: none;
    cursor: pointer;
}

.search__result:nth-child(odd) {
    background: var(--yellow);
}

.search__results-box {
    width: 102%;
    position: absolute;
    left: -2px;
    background: var(--white);
    border: 2px solid var(--yellow);
}

.search__products-wrapper {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.search__product-box {
    font-size: fonts.$v-small;
    background: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--grey);
    cursor: pointer;

    i {
        line-height: unset;
    }
}

.search__categories-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.search__category {
    font-weight: 500;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    cursor: pointer;
}

.search__category-disc {
    background: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media (min-width: breakpoints.$desktop) {
    .search {
        min-width: 300px;

        form {
            width: 100%;
        }
    }

    .search__input {
        width: 100%;
    }

    .search__input,
    .search__result {
        padding: 10px 15px;
    }
}