@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.nav {
    font-size: fonts.$medium;
    font-weight: 600;
    color: var(--white);
    max-width: 1440px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5vw;
    margin: 0 auto;

    .fa-solid {
        cursor: pointer;
    }
}

.nav__main {
    background: var(--violet);

    .nav__right {
        background: var(--violet);
        padding-bottom: 15px;
    }
}

.nav__logo {
    color: var(--yellow);
}

.nav__right {
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
}

.nav__link {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav {
    display: none;
}

#nav:checked ~ .nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@media (min-width: breakpoints.$tablet) {
    .fa-bars {
        display: none;
    }

    .nav__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        position: unset;
    }

    .nav__main {
        .nav__right {
            padding-bottom: 0;
        }
    }
}