@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.nav {
    font-size: fonts.$medium;
    font-weight: 600;
    color: var(--white);
    max-width: 1400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5vw;
    margin: 0 auto;

    .fa-solid {
        cursor: pointer;
    }
}

.nav__main {
    background: var(--violet);

    .nav__right {
        background: var(--violet);
    }
}

.nav__logo {
    font-size: fonts.$medium2;
    color: var(--yellow);
}

.nav__right {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 59px;
    left: 0;
    padding-bottom: 15px;
}

.nav__link {
    position: relative;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
}

.nav__link:after {
    width: 105%;
    position: absolute;
    bottom: -5px;
    content: '';
    border-bottom: 4px solid var(--yellow);
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
    transform-origin: 0% 50%;
}

.nav__link:hover:after {
    transform: scaleX(1);
}

#nav {
    display: none;
}

#nav:checked ~ .nav__right {
    display: flex;
}

@media (min-width: breakpoints.$nav-break) {
    .fa-bars {
        display: none;
    }

    .nav__right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: unset;
        padding-bottom: 0;
    }
}

@media (min-width: breakpoints.$desktop) {
    .nav {
        padding: 15px;
    }
}

