@use '../../../../config/breakpoints';
@use '../../../../local/fonts';

.auth {
   width: 100vw;
   height: 100%;
   min-height: calc(100vh - 60px); //nav height
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   background: linear-gradient(180deg, var(--violet), var(--dark-pink));
}

.auth__box {
   font-family: fonts.$poppins;
   font-size: fonts.$small;
   color: var(--white);
   height: 100%;
   width: 100vw;
   max-width: 800px;
   padding-bottom: 30px;
   display: flex;
   justify-content: center;
}

.auth__img {
   width: 100vw;
   max-width: 800px;
   height: 44vw;
   max-height: 355px;
   border-radius: 10px;
   background-size: cover;
   background-position: center;
   background-image: url(../../../../../../../public/images/auth.jpg);
}

.auth__form-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

   form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
   }
}

.auth__header {
   font-size: fonts.$medium2;
   font-weight: 600;
   padding: 0 20px;
   text-align: center;
   border-bottom: 4px solid var(--yellow);
   letter-spacing: 2px;
}

.auth__inputs-wrapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.auth__inputs-box {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.auth__input-box {
   display: flex;
   flex-direction: column;
   gap: 5px;

   input {
      font-size: fonts.$small;
      width: 260px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px var(--yellow);
   }

   input:focus {
      box-shadow: 0 0 15px var(--yellow);
      transition: box-shadow 0.3s ease;
   }
}

.auth__text-wrapper {
   width: 100%;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.auth__text-box {
   display: flex;
   gap: 10px;

   span {
      font-weight: 600;
      color: var(--yellow);
   }
}

.auth__submit {
   font-size: fonts.$medium;
   font-weight: 600;
   color: var(--white);
   width: 200px;
   padding: 10px;
   margin-top: 10px;
   border-radius: 20px;
   background: var(--violet);
   box-shadow: 0 0 5px var(--white);
}

.auth__submit:hover {
   color: var(--yellow);
   transition: color 0.5s ease;
}

@media (min-width: breakpoints.$desktop-small) {
   .auth__inputs-wrapper {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      align-items: center;
   }
}
