@forward 'main';

@forward 'home/home';
@forward 'nav/nav';
@forward 'info/info';

@forward 'drinks/drinks-box';
@forward 'drinks/search';
@forward 'drinks/drinks';
@forward 'drinks/drink';

@forward 'auth/auth';