@use '../../../../../config/breakpoints';
@use '../../../../../local/fonts';

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search__header {
    font-size: fonts.$medium;
    font-weight: 500;
}

.search__box {
    border: 2px solid var(--yellow);
    border-radius: 5px;
}

.search__input,
.search__result {
    font-size: fonts.$small;
    padding: 5px 15px;
    text-align: center;
    --webkit-apperance: none;
}