@use '../../../../../config/breakpoints';
@use '../../../../../local/fonts';

.search {
    font-size: fonts.$small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    form {
        text-align: center;
    }
}

.search__header {
    font-size: fonts.$medium;
    font-weight: 500;
}

.search__box {
    border: 2px solid var(--yellow);
    border-radius: 5px;
}

.search__input,
.search__result {
    padding: 5px 15px;
    text-align: center;
    --webkit-apperance: none;
}

.search__products-box {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.search__product {
    font-size: fonts.$v-small;
    background: var(--white);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--grey);
}