{% extends 'base.html.twig' %}

{% block title %}Najlepsze drinki - NieTylkoMohito{% endblock %}

{% block body %}
    <div id="root"></div>
    <script>
        window.user = {{ user|raw }}
    </script>
{% endblock %}
